export(decomposeTumorGenomes)
export(getGenomesFromMutationFeatureData)
export(getSignatureListFromEstimatedParameters)
export(loadShiraishiSignatures)
export(loadAlexandrovSignatures,convertAlexandrov2Shiraishi)
export(loadGenomesFromVCF)
export(loadGenomesFromMPF)
export(plotMutationDistribution)
export(plotDecomposedContribution)
export(computeExplainedVariance)
export(plotExplainedVariance)
export(composeGenomesFromExposures)
export(evaluateDecompositionQuality)
export(determineSignatureDistances)
export(mapSignatureSets)
export(downgradeShiraishiSignatures)
export(convertGenomesFromVRanges)

import("ggplot2")

importFrom("methods", "new")
importFrom("utils", "read.table")
importFrom("utils", "combn")
importFrom("Matrix", "nearPD")
importFrom("vcfR", "read.vcfR")
importFrom("graphics", "abline", "plot", "points", "text")
importFrom("stats", "cor", "scatter.smooth", "dist")
importFrom("VariantAnnotation", "asVCF", "isSNV", "readVcfAsVRanges",
           "header", "geno", "ref", "alt")
importFrom("GenomicRanges", "ranges", "seqnames", "start")
importFrom("SummarizedExperiment", "rowRanges")
importFrom("BSgenome.Hsapiens.UCSC.hg19", "BSgenome.Hsapiens.UCSC.hg19")
importFrom("TxDb.Hsapiens.UCSC.hg19.knownGene", "TxDb.Hsapiens.UCSC.hg19.knownGene")
